<div class="
  relative w-full h-[max-content]
  transition mb-3 overflow-hidden 
  bg-gradient-to-r 
  from-white to-second/5 hover:to-second/10
  dark:from-fs-black/20 dark:to-black/20 dark:hover:to-black/30  
  rounded shadow cursor-pointer transition
">
  <div class="p-4">
    <a href="{{.Permalink}}" class="mb-10">
      <h1 class="font-medium text-gray-700 dark:text-white">
        {{ .Title }}
      </h1>
    </a>
    <h5 class="text-gray-500 dark:text-gray-400 text-xs">{{ .Date.Format "2006-01-02" }}</h5>
  </div>
</div>