<li class="border-b border-white dark:border-fs-gray last:border-none">
  <a href="{{.Permalink}}" 
    class="
    block
    relative w-full h-[max-content]
    transition overflow-hidden 
    bg-gradient-to-r 
    from-gray-50 to-second/5 hover:to-second/10
    dark:from-fs-black/20 dark:to-black/20 dark:hover:to-black/30
    cursor-pointer transition
  ">
    <div class="p-4">
      <h1 class="font-medium text-gray-700 dark:text-white">
        {{ .Title }}
      </h1>
    </div>
  </a>
</li>